/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-color: #d7be62;
  }

  body {
    background: #27272a;
  }

  body,
  pre {
    font-family: "Fira Code", "M PLUS Rounded 1c", sans-serif;
  }

  pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-smoothing: antialiased; */
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
  }
}
